services:
  # The Central Storage Node
  nfs-server:
    build: 
      context: ./server 
    container_name: nfs-server
    privileged: true
    volumes:
      - /lib/modules:/lib/modules:ro # Ensure that the container can use the host's kernel space since containers only operate on the user space
      - ./shared_data:/nfsshare   # Local folder on your PC to store the data
    networks:
      dist-net:
        ipv4_address: 172.20.0.2

  nfs-server-2:
    build:
      context: ./server
    container_name: nfs-server-2
    privileged: true
    volumes:
      - /lib/modules:/lib/modules:ro
      - ./shared_data:/nfsshare
    networks:
      dist-net:
        ipv4_address: 172.20.0.3

  # Distributed Node A
  client-a:
    build:
      context: ./client 
    container_name: client-a
    privileged: true
    depends_on:
      - nfs-server
    networks:
      - dist-net

  # Distributed Node B
  client-b:
    build:
      context: ./client
    container_name: client-b
    privileged: true
    depends_on:
      - nfs-server
    networks:
      - dist-net

networks:
  dist-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16